{% extends "base.html" %} {% block header %}
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<script>
  $(document).ready(function() {
    $("#id_description").summernote({
      height: 300
    });
  });
</script>
{% endblock %} {% block contents %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>상품 생성하기</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %} {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% ifequal field.name 'description' %}
        <textarea
          class="form-control"
          name="{{ field.name }}"
          id="{{ field.id_for_label }}"
        ></textarea>
        {% else %}
        <input
          type="{{ field.field.widget.input_type }}"
          class="form-control"
          id="{{ field.id_for_label }}"
          placeholder="{{ field.label }}"
          name="{{ field.name }}"
        />
        {% endifequal %}
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary">생성</button>
    </form>
  </div>
</div>
{% endblock %}
