<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <!-- VO를 선언하여 mybatis/sql/하위의 쿼리들을 실행할때 resultType, parameterType에 풀 패키지명을 
        쓰지 않고 선언한 alias의 이름만 사용하여 VO를 주고 받을 수 있도록 해줌. **** 예시 **** mybatis/mybatis-config.xml 
        <typeAlias alias="TestVO" type="com.hee.heechart.VO.TestVO"></typeAlias> 
        mybatis/sql/test.xml *alias를 선언했을 때 <select id="getShowroomList" resultType="TestVO" 
        parameterType="TestVO"> SELECT * FROM TableName WHERE ColumnName = #{parameter} 
        </select> *alias를 선언하지 않았을 때 <select id="getShowroomList" resultType="패키지명.TestVO" 
        parameterType="om.hee.heechart.VO.TestVO"> SELECT * FROM TableName WHERE 
        ColumnName = #{parameter} </select> -->
 
    <typeAliases>
        <typeAlias type="com.HTM.vo.MovieVO" alias="movieVO" />
    </typeAliases>
 
 
</configuration>